header{
    margin-top: 2%;
}

.navbar-nav{
    float: none;
    padding-left: 5%;
}

.logo {
    padding: 5px;
}

.nav > li {
    padding: 20px;
    margin: 10px;
}

.nav > li:hover {
    cursor: pointer;
    border-top:2px solid #2b2b2b;
}

li.active {
    border-top:2px solid #2b2b2b;
}
