<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>沁星主页</title>
    <link type="text/css" href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="../static/css/main.css" rel="stylesheet" />
    <link type="text/css" href="../static/css/header.css" rel="stylesheet" />
    <link type="text/css" href="../static/css/content.css" rel="stylesheet" />
</head>
<body lang="cn">
    <div class="container main">
        <div class="row head">
            <header>
                <div class="col-xs-4 logo">
                    <img src="../static/images/logo.png" alt="logo" style="width: 270px; height: 60px;" />
                </div>
                <div class="col-xs-8 text-center">
                    <ul class="nav navbar-nav">
                        <li class="active">首页</li>
                        <li>产品中心</li>
                        <li>关于我们</li>
                        <li>联系我们</li>
                    </ul>
                </div>
            </header>
        </div>
        <div class="row content">
            <div class="col-xs-12 banner" style="padding: 0;">
                <div class="banner-img"></div>
            </div>
            <div class="col-xs-12 text-center" style="color:#5E912C">
                <h1 style="font-size: 2rem;font-weight: normal;">沁星系列</h1>
                <h2 style="font-size: 1.8rem;font-weight: normal;">各种调料，精彩缤纷</h2>
            </div>
            <div class="col-xs-12 serial">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 serial-list">
                           <a href="javascript:void(0)" target="_blank" style="position: relative;">
                              <div>

                              </div>
                           </a>
                        </div>
                        <div class="col-xs-3 serial-list"></div>
                        <div class="col-xs-3 serial-list"></div>
                        <div class="col-xs-3 serial-list"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 company">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center" style="color:#5E912C">
                            <h1 style="font-size: 2rem;font-weight: normal;">公司简介 · ABOUT COMPANY</h1>
                            <h2 style="font-size: 1.5rem;font-weight: normal;">服务顾客</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>